<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_SeoSearchUrls>
			<version>1.4.0.0</version>
		</Fishpig_SeoSearchUrls>
	</modules>
	<global>
		<helpers>
			<seosearchurls>
				<class>Fishpig_SeoSearchUrls_Helper</class>
			</seosearchurls>
		</helpers>
		<events>
			<controller_front_init_routers>
				<observers>
					<seosearchurls>
						<class>Fishpig_SeoSearchUrls_Controller_Router</class>
						<method>initControllerRouters</method>
					</seosearchurls>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<frontend>
		<layout>
			<updates>
				<seosearchurls>
					<file>seo-search-urls.xml</file>
				</seosearchurls>
			</updates>
		</layout>
		<events>
			<controller_front_send_response_before>
				<observers>
					<seosearchurls>
						<type>singleton</type>
						<class>Fishpig_SeoSearchUrls_Helper_Data</class>
						<method>injectLinksIntoResponseObserver</method>
					</seosearchurls>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<default>
		<seosearchurls>
			<settings>
				<enabled>1</enabled>
				<front_name>search</front_name>
				<form_action>catalogsearch/result</form_action>
				<form_field>q</form_field>
			</settings>
		</seosearchurls>
	</default>
</config>